/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: ;

    /*========== Colors ==========*/
    /* Color mode HSL(hue, saturation, lightness) */
    --first-color: hsl(268, 77%, 58%);
    --first-color-dark: hsl(268, 78%, 51%);
    --first-color-light: hsl(200, 100%, 83%);
    --title-color: hsl(0, 0%, 87%);
    --text-color: hsl(0, 0%, 69%);
    --body-color: hsl(200, 12%, 5%);
    --container-color: hsl(200, 10%, 8%);
    --border-color: hsl(0, 0%, 20%);
    --white: #ffff;

    /*========== Font and typography ==========*/
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Jost", sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;

    /*========== Font weight ==========*/
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
}

/*=============== DARK THEME ===============*/

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--larger-font-size);
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
}
input,
textarea,
button {
    outline: none;
    border: none;
    background-color: transparent;
}
h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-600);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== STYLE SWITCHER ===============*/

/*=============== HEADER & NAV ===============*/

/* Active link */

/*=============== HOME ===============*/

/* Home animation */

/*=============== BUTTON ===============*/

/* Button hover */

/*=============== ABOUT ===============*/

/* About img hover */

/*=============== QUALIFICATION ===============*/

/*=============== SERVICES ===============*/

/* Services hover */

/*=============== SKILLS ===============*/

/*=============== PORTFOLIO ===============*/

/* Work hover */

/*=============== TESTIMONIALS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 450px) {
}
